body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f0f0f0;
}

.profile-container {
    margin-top: 20px; /* Adjust margin as needed */
    text-align: center;
    padding-top: 50px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-details {
    text-align: center;
}

.profile-name {
    font-size: 24px;
    margin-bottom: 5px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-decoration: underline;
}

.profile-specifications {
    font-size: 18px;
    margin: 5px 0;
}

.profile-description {
    max-width: 600px;
    margin-top: 20px;
    text-align: center;
    width: 50%; /* Adjust width as needed */
    margin: 0 auto;
    background-color: #f0f0f0; /* Background color of the box */
    border: 1px solid #ccc; /* Border style */
    padding: 20px; /* Padding inside the box */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    transition: transform 0.3s ease;
}

.profile-description:hover {
    transform: translateY(-5px); /* Move the box up slightly on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increase the box shadow for a deeper effect */
}

.map{
    width: 50%; /* Adjust width as needed */
    margin: 0 auto;
    background-color: #f0f0f0; /* Background color of the box */
    border: 1px solid #ccc; /* Border style */
    padding: 20px; /* Padding inside the box */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 60px;
    transition: transform 0.3s ease;
}

.map:hover {
    transform: translateY(-5px); /* Move the box up slightly on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increase the box shadow for a deeper effect */
}

footer {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    text-align: center;
  }
