body{
    margin: 0; 
    overflow-x: hidden;
    size: 90%;
}
header {
    color: white;
    padding: 10px;
    text-align: center;
    position: relative;
    z-index: 2; 
    width: 100%;
    height: 120px;
    left: -69px;
    top: 0px;
    position: absolute;
}

.Frame1 {
    width: 100%; left: 719px; top: 55px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 50px; display: inline-flex;  

}

.Home,
.ProductListing,
.Shop,
.Counselling {
    color: white;
    font-size: 24px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word;
}

.Home a,
.ProductListing a,
.Shop a,
.Counselling a {
    color: white;
    text-decoration: none;
}

.ImagePrevUi121 {
    width: 59px;
    height: 60px;
    left: 1383px;
    top: 43px;
    position: absolute;
}

.Logo1 {
    width: 78px;
    height: 53px;
    left: 115px;
    top: 34px;
    position: absolute;
}

.main-container{
    position: relative; 
    background: #F7F7F7;
    width: 100%;
}


.mountainbg {
    width: 1440px;
    height: 952px;
    left: 0px;
    top: -16px;
    position: absolute;
    background-image: url(https://hips.hearstapps.com/hmg-prod/images/lake-louise-sunrise-alberta-canada-royalty-free-image-1575297330.jpg);
    background-size: cover;
}

.tint {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.tagcontainer {
    left: -64px;
    top: 248px;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 190px;
    display: inline-flex;
}

.Tagline {
    padding-left: 310px;
    padding-right: 439px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 65px;
    display: flex;
}

.Heal_tagline {
    width: 922px;
    height: 209px;
    text-align: center;
    color: white;
    font-size: 200px;
    font-family: Poppins;
    font-weight: 600;
    word-wrap: break-word;
}

.HealQuote {
    width: 886px;
    height: 213px;
    text-align: center;
    color: white;
    font-size: 24px;
    font-family: Poppins;
    font-weight: 500;
    line-height: 48px;
    word-wrap: break-word;
}

/*SERVICE CONTAINER*/
.ServiceContainer{
    width: 1440px; 
    height: 1015px; 
    left: 0px; 
    top: 936px; 
    position: absolute;
}
.ServicesOffered{
    left: 418px; 
    top: 195px; 
    position: absolute; 
    text-align: center; 
    color: black; 
    font-size: 74px; 
    font-family: Poppins; 
    font-weight: 500; 
    word-wrap: break-word;
}
.ServiceBox{
    width: 1180px; 
    height: 457px; 
    left: 130px; 
    top: 398px; 
    position: absolute;
}
.Shops{
    width: 380px; 
    height: 457px; 
    left: 0px; 
    top: 0px; 
    position: absolute;
}

.Counseling{
    width: 380px; height: 457px; left: 400px; top: 0px; position: absolute
}
.SmallBiz{
    width: 380px; height: 457px; left: 800px; top: 0px; position: absolute
}
.Rectangle10{
    width: 380px; 
    height: 457px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: white; 
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.05); 
    border-radius: 50px
}
.Unsplash7uxn7nudorc{
    width: 293px; 
    height: 273px; 
    left: 27px; 
    top: 21px; 
    position: absolute; 
    border-radius: 50px
}
.Heal{
    left: 367px; 
    top: 63px; 
    position: absolute; 
    transform: rotate(90deg); 
    transform-origin: 0 0; color: rgba(0, 0, 0, 0.50); 
    font-size: 18px; 
    font-family: Poppins; 
    letter-spacing: 9px; 
    word-wrap: break-word; 
    font-weight: 600;
}
.SelfCareShop{
    left: 108px; 
    top: 325px; 
    position: absolute; 
    color: black; 
    font-size: 24px; 
    font-family: Poppins; 
    font-weight: 500; 
    word-wrap: break-word;
}
.Visitpagebtn{
    width: 107px; 
    height: 47px; 
    left: 137px; 
    top: 371px; 
    position: absolute; 
    text-decoration: none;
}
.Rectangle8{
    width: 107px; 
    height: 47px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #F2F6FF; 
    border-radius: 10px;
}
.VisitPage{
    width: 82px; 
    height: 20px; 
    left: 19px; 
    top: 13px; 
    position: absolute; 
    color: #3E86F5; 
    font-size: 14px; 
    font-family: Poppins; 
    font-weight: 500; 
    word-wrap: break-word;
}
.UnsplashHuk2w9faJw{ 
    width: 293px; 
    height: 273px; 
    left: 27px; 
    top: 21px; 
    position: absolute; 
    border-radius: 50px;
}
.CounselingSessions{
    left: 69px; 
    top: 325px; 
    position: absolute; 
    color: black; 
    font-size: 24px; 
    font-family: Poppins; 
    font-weight: 500; 
    word-wrap: break-word;
}
.UnsplashYui5vfkhuzs{
    width: 293px; 
    height: 273px; 
    left: 27px; 
    top: 21px; 
    position: absolute; 
    border-radius: 50px;
}
.SupportSmallBusinesses{
    left: 33px; 
    top: 325px; 
    position: absolute; 
    color: black; 
    font-size: 24px; 
    font-family: Poppins; 
    font-weight: 500; 
    word-wrap: break-word"
}

/* About Heal */
.Abouthealcont{
 width: 1440px; 
 height: 960px; 
 left: 0px; 
 top: 1918px; 
 position: absolute;
}

.UnsplashTqpypka92k8{
    width: 480px; 
    height: 800px; 
    left: 130px; 
    top: 80px; 
    position: absolute; 
    border-radius: 75px;
}
.Healtxt{
    height: 627px;
     left: 720px; 
     top: 136px; 
     position: absolute;
    }
.Heading{
    width: 550px;
    height: 220px; 
    left: 0px; 
    top: 0px;
     position: absolute; 
     color: black; 
     font-size: 48px; 
     font-family: Poppins;
     font-weight: 600; 
     word-wrap: break-word;}

.Description{
    width: 580px; 
    height: 334px; 
    left: 0px; 
    top: 293px; 
    position: absolute; 
    color: rgba(0, 0, 0, 0.50); 
    font-size: 20px; 
    font-family: Poppins; 
    font-weight: 400; 
    line-height: 40px;
    word-wrap: break-word;
}

/*Testimonials*/
.Testimonial{
    padding-top: 211px; 
    padding-bottom: 5px; 
    padding-left: 134px; 
    padding-right: 130px; 
    left: -4px; top: 2700px; 
    position: absolute; 
    justify-content: flex-end; 
    align-items: center;
     display: inline-flex;
}
.Testimonialcont{
   width: 1180px; 
   height: 465px; 
   position: relative;
}

.P1,
.P2{
    width: 580px; 
    height: 465px; 
    left: 0px; 
    top: 0px; 
    position: absolute;
}
.Ellipse4{
    width: 179.50px; 
    height: 134px; 
    left: 199px; 
    top: 331px; 
    position: absolute; 
    background: white;
}
.Rectangle15{
    width: 580px;
    height: 410px;
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: white;
    border-radius: 50px;
}
.PxCquote2Black1{
    width: 131px; 
    height: 104px; 
    left: 355px; 
    top: 140px; 
    position: absolute; 
    transform: rotate(180deg); 
    transform-origin: 0 0;
}
.P1txt{
    width: 508px; 
    height: 203px; 
    left: 47px; 
    top: 84px; 
    position: absolute; 
    text-align: center; 
    color: black; 
    font-size: 20px; 
    font-family: Poppins; 
    font-weight: 500; 
    line-height: 41.80px; 
    word-wrap: break-word;
}
.SarahW,
.P2name{
    left: 235px;
    top: 300px; 
    position: absolute; 
    text-align: center; 
    color: #3E86F5; 
    font-size: 20px; 
    font-family: Poppins; 
    font-weight: 500; 
    line-height: 41.80px; 
    word-wrap: break-word;
}
.Pic1,
.Pic2{
    width: 100px;
    height: 100px;
    left: 240px; 
    top: 355px; 
    position: absolute; 
    border-radius: 9999px;
}
.Rectangle14{
    width: 45px; 
    height: 20px; 
    left: 307px; 
    top: 362px; 
    position: absolute;
    background: white; 
    border-radius: 25px;
}
.Rating{
    width: 36px; 
    height: 18px; 
    left: 311px; 
    top: 363px; 
    position: absolute;
}
.Star{
    width: 15px; 
    height: 15px;
    left: 0px; 
    top: 1px;
    position: absolute;
}
.rate5,
.rate9{
    left: 17px; 
    top: 0px; 
    position: absolute; 
    color: black; 
    font-size: 12px; 
    font-family: Poppins; 
    font-weight: 500; 
    word-wrap: break-word;
}
.P2txt{
    width: 514px;
    height: 196px; 
    left: 47px; 
    top: 84px; 
    position: absolute; 
    text-align: center; 
    color: black; 
    font-size: 20px; 
    font-family: Poppins; 
    font-weight: 500; 
    line-height: 41.80px; 
    word-wrap: break-word;
}